.phoneTable{
    border-collapse:collapse;
    border:1px solid #000000;
}

.phoneTableHeader{
    text-align:center;
    background:none repeat scroll 0 0 #B5B5B5;
    border-bottom:1px solid #000000;
    padding:2px;
}

.phoneTableOddRow{text-align:center;
    background:none repeat scroll 0 0 #FFFFFFF;
}

.phoneTableEvenRow{
    text-align:center;
    background:none repeat scroll 0 0 #D3D3D3;
}